@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}
body{
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
form{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

form>input{
  border-radius: 5px;
  margin: 2px;
  border: 1px black solid;
  padding: 5px;
}

form>button{
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  background-color: cornflowerblue;
  color: white;
}

div#listaTarefas{
  margin: 10px;
  width: 100%;
}

input[type=checkbox]:checked + label{
  color: gray;
  text-decoration: line-through;
}